/* File: public/css/partials/utility-classes.css */

/* * * * * * * */
/* Misc Types */

.align-center {
	align-items: center;
}

.bold {
	font-weight: bold;
}

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.justify-center {
	justify-content: center;
}

.justify-space-between {
	justify-content: space-between;
}

.text-center {
	text-align: center;
}

/* * * * * * * */
/* Background Colors */

.bg-color-1 {
	background-color: var(--background-color-1);
}

.bg-color-2 {
	background-color: var(--background-color-2);
}

.bg-color-3 {
	background-color: var(--background-color-3);
}

.bg-color-4 {
	background-color: var(--background-color-4);
}

.bg-color-5 {
	background-color: var(--background-color-5);
}

.bg-color-6 {
	background-color: var(--background-color-6);
}

.bg-color-7 {
	background-color: var(--background-color-7);
}

.bg-color-8 {
	background-color: var(--background-color-8);
}

.bg-color-9 {
	background-color: var(--background-color-9);
}

.bg-color-10 {
	background-color: var(--background-color-10);
}

.bg-color-11 {
	background-color: var(--background-color-11);
}

/* * * * * * * */
/* Border Colors */

.border-color-1 {
	border-color: var(--border-color-1);
}

.border-color-2 {
	border-color: var(--border-color-2);
}

.border-color-3 {
	border-color: var(--border-color-3);
}

.border-color-4 {
	border-color: var(--border-color-4);
}

.border-color-5 {
	border-color: var(--border-color-5);
}

/* * * * * * * * * * */
/* Box Shadow Colors */

.box-shadow-color-1 {
	box-shadow: 0 4px 8px var(--box-shadow-color-1);
}

/* * * * * * * */
/* Font Colors */

.font-color-primary {
	color: var(--font-color-primary);
}

.font-color-labels {
	color: var(--font-color-labels);
}

.font-color-3 {
	color: var(--font-color-3);
}

.font-color-4 {
	color: var(--font-color-4);
}

/* * * * * * * */
/* Gap Sizes */

.gap-0 {
	gap: 0;
}

.gap-xs {
	gap: var(--gap-xs);
}

.gap-sm {
	gap: var(--gap-sm);
}

.gap-md {
	gap: var(--gap-md);
}

.gap-lg {
	gap: var(--gap-lg);
}

.gap-xl {
	gap: var(--gap-xl);
}

.gap-xxl {
	gap: var(--gap-xxl);
}

.gap-top-0 {
	margin-top: 0;
}

/* * * * * * * * */
/* Margin Sizes */

.margin-0 {
	margin: 0;
}

.margin-auto {
	margin: auto;
}

.margin-xs {
	margin: var(--margin-xs);
}

.margin-sm {
	margin: var(--margin-sm);
}

.margin-md {
	margin: var(--margin-md);
}

.margin-lg {
	margin: var(--margin-lg);
}

.margin-xl {
	margin: var(--margin-xl);
}

.margin-xxl {
	margin: var(--margin-xxl);
}

.margin-top-0 {
	margin-top: 0;
}

.margin-top-xs {
	margin-top: var(--margin-xs);
}

.margin-top-sm {
	margin-top: var(--margin-sm);
}

.margin-top-md {
	margin-top: var(--margin-md);
}

.margin-top-lg {
	margin-top: var(--margin-lg);
}

.margin-top-xl {
	margin-top: var(--margin-xl);
}

.margin-top-xxl {
	margin-top: var(--margin-xxl);
}

.margin-right-0 {
	margin-right: 0;
}

.margin-right-xs {
	margin-right: var(--margin-xs);
}

.margin-right-sm {
	margin-right: var(--margin-sm);
}

.margin-right-md {
	margin-right: var(--margin-md);
}

.margin-right-lg {
	margin-right: var(--margin-lg);
}

.margin-right-xl {
	margin-right: var(--margin-xl);
}

.margin-right-xxl {
	margin-right: var(--margin-xxl);
}

.margin-bottom-0 {
	margin-bottom: 0;
}

.margin-bottom-xs {
	margin-bottom: var(--margin-xs);
}

.margin-bottom-sm {
	margin-bottom: var(--margin-sm);
}

.margin-bottom-md {
	margin-bottom: var(--margin-md);
}

.margin-bottom-lg {
	margin-bottom: var(--margin-lg);
}

.margin-bottom-xl {
	margin-bottom: var(--margin-xl);
}

.margin-bottom-xxl {
	margin-bottom: var(--margin-xxl);
}

.margin-left-0 {
	margin-left: 0;
}

.margin-left-xs {
	margin-left: var(--margin-xs);
}

.margin-left-sm {
	margin-left: var(--margin-sm);
}

.margin-left-md {
	margin-left: var(--margin-md);
}

.margin-left-lg {
	margin-left: var(--margin-lg);
}

.margin-left-xl {
	margin-left: var(--margin-xl);
}

.margin-left-xxl {
	margin-left: var(--margin-xxl);
}

/* * * * * * * * */
/* Padding Sizes */

.padding-0 {
	padding: 0;
}

.padding-xs {
	padding: var(--padding-xs);
}

.padding-sm {
	padding: var(--padding-sm);
}

.padding-ms {
	padding: var(--padding-ms);
}

.padding-md {
	padding: var(--padding-md);
}

.padding-lg {
	padding: var(--padding-lg);
}

.padding-xl {
	padding: var(--padding-xl);
}

.padding-top-0 {
	padding-top: 0;
}

.padding-top-xs {
	padding-top: var(--padding-xs);
}

.padding-top-sm {
	padding-top: var(--padding-sm);
}

.padding-top-md {
	padding-top: var(--padding-md);
}

.padding-top-lg {
	padding-top: var(--padding-lg);
}

.padding-top-xl {
	padding-top: var(--padding-xl);
}

.padding-right-0 {
	padding-right: 0;
}

.padding-right-xs {
	padding-right: var(--padding-xs);
}

.padding-right-sm {
	padding-right: var(--padding-sm);
}

.padding-right-md {
	padding-right: var(--padding-md);
}

.padding-right-lg {
	padding-right: var(--padding-lg);
}

.padding-right-xl {
	padding-right: var(--padding-xl);
}

.padding-bottom-0 {
	padding-bottom: 0;
}

.padding-bottom-xs {
	padding-bottom: var(--padding-xs);
}

.padding-bottom-sm {
	padding-bottom: var(--padding-sm);
}

.padding-bottom-md {
	padding-bottom: var(--padding-md);
}

.padding-bottom-lg {
	padding-bottom: var(--padding-lg);
}

.padding-bottom-xl {
	padding-bottom: var(--padding-xl);
}

.padding-left-0 {
	padding-left: 0;
}

.padding-left-xs {
	padding-left: var(--padding-xs);
}

.padding-left-sm {
	padding-left: var(--padding-sm);
}

.padding-left-md {
	padding-left: var(--padding-md);
}

.padding-left-lg {
	padding-left: var(--padding-lg);
}

.padding-left-xl {
	padding-left: var(--padding-xl);
}

/* Other Utility Classes */

.border-none {
	border: none;
}
