* {
	box-sizing: border-box;
}

body {
	background-color: var(--background-color-1);
	color: var(--font-color-primary);
	font-family: Arial, sans-serif;
}

#container {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	align-items: center;
	overflow-x: hidden;
}

label {
	font-size: 0.8em;
	padding: 2px;
	color: var(--font-color-labels);
}

.checkbox-label {
	font-size: 0.75em;
}

.hidden {
	display: none;
}

.bordered-ui-div {
	border: 1px solid var(--border-color-2);
	border-radius: 3px;
}
