#advanced-menu-wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	align-items: flex-start;
}

#advanced-menu-content {
	position: absolute;
	right: -250px;
	background-color: var(--background-color-3);
	margin-right: 10px;
	padding: 10px;
	border: 2px solid var(--border-color-3);
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 2px 5px 5px var(--box-shadow-color-1);
	display: none;
}

.close-help-modal-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 1.15em;
	cursor: close;
}

.help-menu {
	display: flex;
	position: relative;
	width: 95%;
	height: 95%;
	background-color: var(--background-color-9);
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.help-menu-content {
	display: flex;
	position: relative;
	background-color: var(--background-color-10);
	padding: 20px;
	height: 95%;
	width: 95%;
	max-width: 800px;
	border-radius: 12px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--background-color-8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal.hidden {
	display: none;
}

.modal-content {
	background: var(--background-color-3);
	padding: 20px;
	width: 90%;
	max-width: 800px;
	border-radius: 8px;
	position: relative;
}

.palette-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: auto;
	max-height: 60vh;
}

.popup-div {
	flex-direction: column;
}

.popup-div-row:first-child {
	display: flex;
	padding-bottom: 10px;
	justify-content: center;
}

.popup-div-row:nth-child(2) {
	display: flex;
	padding-bottom: 3px;
	justify-content: space-around;
}

.popup .popuptext {
	position: absolute;
	visibility: hidden;
	width: 160px;
	background-color: var(--background-color-3);
	color: var(--font-color-4);
	text-align: center;
	padding: 8px 0;
	border-radius: 6px;
	bottom: 125%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.popup .popuptext::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--border-color-3) transparent transparent transparent;
}

.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

#advanced-menu-content {
	position: absolute;
	left: -250px;
	background-color: var(--background-color-3);
	margin-left: 10px;
	padding: 10px;
	border: 2px solid var(--border-color-3);
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 2px 5px 5px var(--box-shadow-color-1);
	display: none;
}

#history-menu-wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	align-items: flex-end;
}
