* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

label {
    font-size: 0.8em;
    padding: 2px;
}

#theBox {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px 25px;
    margin-top: 3vh;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

#palette-row {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 3vh;
    height: fit-content;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.palette-box {
    position: relative;
    display: flex;
    height: 40vh;
    width: 18vw;
    flex-direction: column;
    border: 2px solid black;
}

.palette-half {
    height: fit-content;
    width: fit-content;
}

.palette-box-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.palette-box-top-half {
    height: 20%;
    border-bottom: 1px solid black;
}

.palette-box-bottom-half {
    height: 75%;
    border-top: 1px solid black;
}

.palette-form-row {
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 5px;
}

.palette-form-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.color-text-output-box {
    height: 60%;
    width: 75%;
    border: 1px solid black;
}

.color-box {
    height: 95%;
    width: 95%;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
}